@import "tailwindcss";

/* tu CSS abajo */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* === FIX SELECT EN DARK MODE (Chrome / Edge / Windows) === */
select {
  color: white;
  background-color: rgba(255, 255, 255, 0.06);
}

select option {
  color: black;
  background-color: white;
}
